/laskarit/viikko2/Maksukortti/nbproject/
/laskarit/viikko2/Maksukortti/target/
/laskarit/viikko2/Unicafe/target/
/laskarit/viikko2/Unicafe/nbproject/
/Biotietokanta/target/
/Biotietokanta/nbproject/
/Biotietokanta/kayttajat.txt/
/Biotietokanta/sekvenssit.txt/
/Biotietokanta/usersFake.txt/
/Biotietokanta/seqFake.txt/
